/*geno2.css*/

html,
body {
  background-color: #F8F9FA;
}

body,
nav,
footer {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  padding-left: 1em;
  padding-top: .5em;
}

body p {
  font-size: 20px;
  margin: 2em;
}

.logo img {
  width: 72px;
  height: 72px;
}

.bottom-banner img {
  max-width: 100%;
  max-height: auto;
}

.cLogo img {
  height: auto;
  width: 150px;
  display: block;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;

}

.portrait {
  border-radius: 10%;
}

.landscape {
  border-radius: 10%;
}

.row {
  padding: 2em;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 2em;
}

.info {
  text-align: center;
  font-size: 18px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

footer {
  background-color: #2F3136;
  color: #FFFFFF;
  padding-bottom: 2em;
}


footer p {
  text-align: center;
  margin: none;
  font-size: 15px;
}

nav {
  background-color: #F1F1F2;
  padding-top: 15px;
  padding-bottom: 10px;
  border-color: transparent;
}

header {
  background-color: #F1F1F2;
}

/* Hamburger bar button */
.navbar-toggler {
  background-color: #FFFFFF;
}
.container {
  cursor: pointer;
}

.one {
  width: 35px;
  height: 5px;
  background-color: #EE1C25;
  margin: 6px 0;
  transition: 0.4s;
}
.two {
  width: 35px;
  height: 5px;
  background-color: #FBD203;
  margin: 6px 0;
  transition: 0.4s;
}
.three {
  width: 35px;
  height: 5px;
  background-color: #38BBCC;
  margin: 6px 0;
  transition: 0.4s;
}

.change .one {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .two {
  opacity: 0;
}
.change .three {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*
alpha tag red: #EE1C25;
alpha icon red: #FF3636;

beta tag blue: #2989FF;
beta icon blue: #38BBCC;

omega tag yellow: #F1C40E;
omega icon yellow: #FBD203;
*/

.pill-nav a {
  color: #202428;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.pill-nav a:hover {
  color: #F1F1F2;
}

.nav-pills .nav-link:hover,
.nav-pills .dropdown-item:hover,
.nav-pills > li.show > a:focus,
.nav-pills > li.show > a:not(:focus) {
  background-color: #2989FF;
  color: #F1F2F2;
  outline: none;
}

.topside a {
  text-align: center;
  text-decoration: none;
  color: #202428;
  padding: 2em;
  font-size: 20px;
}

.topside a:hover {
  /* color: #87898B; */
  color: #EE1C25;
}

.modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal-content {
  margin:auto;
  display: block;
  height: inherit;
  width: 90%;
}

.artModal {
  display: none;
  height: inherit;
  max-height: inherit;
  max-width: auto;
}

.artModal img {
  width: 80%;
  height: auto;
  max-width: 600px;
  align-content: center;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.caption-container {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  height: 150px;
}

.info-2 {
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
  padding-bottom: 100px;
  padding-top: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.info {
  text-align: center;
  font-size: 18px;
}

table {
  float: right;
  color: #202428;
  background-color: #F1F1F2;
  width: 300px;
  margin: 1em;
}

img.center {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.notif {
  text-align: center;
}

.plainlist ul {
  list-style: none none;
}

/* @media only screen and (max-width: 1200px) {
   .column {
     -ms-flex: 33.33333%;
     flex: 33.33333%;
     max-width: 33.33333%;
  }
} */
/* figure out how to make four columns three for a responsive experience, then add this */

@media screen and (max-width: 800px) {
   .column {
     -ms-flex: 50%;
     flex: 50%;
     max-width: 50%;
   }
}

/*
th {
  width: 40%;
}

.plainlist ol, .plainlist ul {
    line-height: inherit;
    list-style: none none;
    margin: 0
}

.plainlist ol li, .plainlist ul li {
    margin-bottom: 0
}

.infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em
}

.infobox caption {
    font-size: 125%;
    font-weight: bold;
    padding: 0.2em;
    text-align: center
}

.infobox td, .infobox th {
    vertical-align: top;
    text-align: left
}
*/
