/*geno2.css*/

html {
  background-color: #FFFFFF;
}

body,
nav,
footer {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-left: 1em;
  margin-top: .5em;
}

body p {
  font-size: 20px;
  margin: 2em;
}

.logo img {
  width: 72px;
  height: 72px;
}

.bottom-banner img {
  max-width: 100%;
  max-height: auto;
}

.cLogo img {
  height: auto;
  width: 150px;
  display: block;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;

}

.portrait {
  border-radius: 12%;
}

.landscape {
  border-radius: 15%;
}

.row {
  padding: 2em;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.info {
  text-align: center;
  font-size: 18px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

footer {
  background-color: #2F3136;
  color: #FFFFFF;
  padding-bottom: 2em;
}


footer p {
  text-align: center;
  margin: none;
  font-size: 15px;
}

nav {
  background-color: #F1F1F2;
  padding-top: 15px;
  padding-bottom: 10px;
  border-color: transparent;
}

/* Hamburger bar button */
.navbar-toggler {
  background-color: #FFFFFF;
}
.container {
  cursor: pointer;
}

.one {
  width: 35px;
  height: 5px;
  background-color: #EE1C25;
  margin: 6px 0;
  transition: 0.4s;
}
.two {
  width: 35px;
  height: 5px;
  background-color: #FBD203;
  margin: 6px 0;
  transition: 0.4s;
}
.three {
  width: 35px;
  height: 5px;
  background-color: #38BBCC;
  margin: 6px 0;
  transition: 0.4s;
}

.change .one {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .two {
  opacity: 0;
}
.change .three {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*
alpha tag red: #EE1C25;
alpha icon red: #FF3636;

beta tag blue: #2989FF;
beta icon blue: #38BBCC;

omega tag yellow: #F1C40E;
omega icon yellow: #FBD203;
*/

.pill-nav a {
  color: #202428;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.pill-nav a:hover {
  color: #F1F1F2;
}

.nav-pills .nav-link:hover,
.nav-pills .dropdown-item:hover,
.nav-pills > li.show > a:focus,
.nav-pills > li.show > a:not(:focus) {
  background-color: #2989FF;
  color: #F1F2F2;
  outline: none;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 1em;
  }
   .column {
     -ms-flex: 50%;
     flex: 50%;
     max-width: 50%;
  }
 }

 @media screen and (max-width: 600px) {
   .column {
     -ms-flex: 100%;
     flex: 100%;
     max-width: 100%;
   }
 }
