/* generator css */

body {
  color: #DCDDDE;
  background-color: #2F3136;
  padding: 2em;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Rock Salt', cursive;
}

p.geno {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5em;
}

p.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 2em;
  line-height: 1.5em;
}

button.geno-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: 30px;
  font-size: 24px;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #999;
}

.geno-btn:hover {
  background-color: #7F8186;
}

.geno-btn:active {
  color: #7F8186;
  background-color: #40444B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pill-nav a {
  display: inline-block;
  color: #DCDDDE;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #292B2F;
  color: #E5E6E7;
}

.pill-nav a.active {
  background-color: #40444B;
  color: #FFFFFF;
}

#more {
  display: none;
}

button#readMore {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-top: 0;
  margin-bottom: 2em;
}
