---
layout: default
title: Marvelverse
---

{% assign g1count = site.data.dnd.gallery1.size %}
{% assign g2count = site.data.dnd.gallery2.size %}
{% assign g3count = site.data.dnd.gallery3.size %}
{% assign g4count = site.data.dnd.gallery4.size %}

<div class="row">
  <div class="column">
  {% for art in site.data.dnd.gallery1 %}
    <img src="{{ art.url }}" onclick="openModal();art({{ forloop.index }})" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}
  </div>
  <div class="column">
  {% for art in site.data.dnd.gallery2 %}
    <img src="{{ art.url }}" onclick="openModal();art({{ forloop.index | plus: g1count }})" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}
  </div>
  <div class="column">
  {% for art in site.data.dnd.gallery3 %}
    <img src="{{ art.url }}" onclick="openModal();art({{ forloop.index | plus: g1count | plus: g2count }})" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}
  </div>
  <div class="column">
  {% for art in site.data.dnd.gallery4 %}
    <img src="{{ art.url }}" onclick="openModal();art({{ forloop.index | plus: g1count | plus: g2count | plus: g3count }})" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}
  </div>
</div>

<div class="topside">
  <a href="#back-to-top">
    Back to Top
  </a>
</div>

<div id="fanartModalA" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>

  {% for modal in site.data.dndmodal %}
  <div class="artModal">
    <img src="{{ modal.url }}">
    <div class="info-2">
      {{ modal.caption }}
      <br>
      {{ modal.artist }}
    </div>
  </div>
  {% endfor %}

  <div class="caption-container">
    <p id="captionA"></p>
  </div>
</div>
