---
layout: default
title: Marvelverse
---

<div class="row">
  <div class="column">
  {% for art in site.data.gallery.gallery1 %}
    <img src="{{ art.url }}" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}
  </div>
  <div class="column">
  {% for art in site.data.gallery.gallery2 %}
    <img src="{{ art.url }}" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}        
  </div>
  <div class="column">
  {% for art in site.data.gallery.gallery3 %}
    <img src="{{ art.url }}" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}    
  </div>
  <div class="column">
  {% for art in site.data.gallery.gallery4 %}
    <img src="{{ art.url }}" class="{{ art.orientation }}" alt="{{ art.artist }}">
      <div class="info">
        {{ art.caption }}
      </div>
  {% endfor %}  
  </div>
</div>
