<header>

    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <span class="logo navbar-brand">
          <a href="#"><img src="ico/marvelverseicon.png" alt="Marvelverse Logo"></a>
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="container" onclick="myFunction(this)">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
        </button>

        <div class="pill-nav collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav nav-pills mr-auto">
            <li class="nav-item pill-2 dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Prompt Generators</a>
              <div class="dropdown-menu pill-2a" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="index.html">Art Prompt</a>
                <a class="dropdown-item" href="gen2.html">Random OC Fusion</a>
                <a class="dropdown-item" href="gen3.html">Random Role Swap</a>
                <a class="dropdown-item" href="prompt1.html">Random RP Prompt</a>
              </div>
            </li>
            <li class="nav-item pill-2 dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown3" role="button" aria-haspopup="true" aria-expanded="false">Characters</a>
              <div class="dropdown-menu pill-2a" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="desc-dakota.html">Dakota Reynolds</a>
                <a class="dropdown-item" href="desc-nona.html">Elena Costa</a>
                <a class="dropdown-item" href="desc-enna.html">Enna</a>
                <a class="dropdown-item" href="desc-ester.html">Ester Mayer</a>
                <a class="dropdown-item" href="desc-sawyer.html">Jackson Sawyer</a>
                <a class="dropdown-item" href="desc-jaime.html">Jaime Barnes</a>
                <a class="dropdown-item" href="desc-jesse.html">Jesse Foster</a>
                <a class="dropdown-item" href="desc-lea.html">Lea the Cat</a>
                <a class="dropdown-item" href="desc-liam.html">Liam Wesley</a>
                <a class="dropdown-item" href="desc-melissa.html">Melissa Price</a>
                <a class="dropdown-item" href="desc-tien.html">Tien Freyason</a>
                <a class="dropdown-item" href="desc-xavier.html">Xavier Wolfe</a>
                <a class="dropdown-item" href="desc-zoe.html">Zoe Davis</a>
                <a class="dropdown-item" href="desc-zquill.html">Z Quill</a>
              </div>
            </li>
            <li class="nav-item pill-3">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item pill-3">
              <a class="nav-link" href="dndgallery.html">RPG Gallery</a>
            </li>
          </ul>
        </div>
      </div>

    </nav>

    </header>
