<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <title>{{ page.title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jackie Collas">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/geno.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt" rel="stylesheet">
</head>
<header>

  <div class="container-fluid">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="pill-nav">
    <a href="index.html">Art Prompt</a>
    <a href="gen2.html">OC Fusion</a>
    <a href="gen3.html">Role Swap</a>
    <a href="prompt1.html">RP Prompt</a>
    <a href="descriptions.html">References</a>
    <a href="fanart.html">Fanart Gallery</a>
  </div>

</header>
<body>

  <div class="container-fluid">

    {{ content }}

  </div>

</body>
</html>
